@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$fonte-principal: "Inter", sans-serif;

$cor-verde-principal: #00745a;
$cor-verde-escuro: #0f6a4e;
$cor-verde-claro: #e9f7f3;
$cor-cinza-texto: #444;
$cor-branco-geral: #ffffff;
$cor-cinza-medio: #e5e5e5;
$cor-preto: #111;
$cor-fundo-footer: #0b0b0b;
$label-formulario: #f8f8f8;
$neon-verde-1: rgba(0, 255, 150, 1);
$neon-verde-2: rgb(27, 82, 55);


$rainbow-pulse-green: rainbow-pulse-green;
$neon-green: $rainbow-pulse-green 2s infinite ease-in-out;

$mobile-width: 768px;
$tablet-width: 1024px;
$large-width: 1180px;
$xl-width: 1440px; 

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile-width) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $tablet-width) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large-width) {
    @content;
  }
}

h1 {
  font-weight: 700;
  font-family: $fonte-principal;
}

p {
  line-height: 1.6;
  color: $cor-cinza-texto;
  font-family: $fonte-principal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn-base {
  padding: 0.75rem 1.4rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

